.applicant{
  margin-left: 2vw;
  margin-top: 2vh;
  table{
    width: 60vw;
    th{
      font-size: 1vw;
      border-bottom: 0.5px solid #333;
      padding: 0.3vw;
    }
    td{
      font-size: 0.7vw;
      padding: 0.3vw;
      text-align: center;
    }
  }
}

.enrolled{
  margin-left: 2vw;
  margin-top: 2vh;
  table{
    width: 60vw;
    th{
      font-size: 1vw;
      border-bottom: 0.5px solid #333;
      padding: 0.3vw;
    }
    td{
      font-size: 0.7vw;
      padding: 0.3vw;
      text-align: center;
    }
  }
}
