.applicant{
  margin-left: 3vw;
  margin-top: 5vh;
  width: 80vw;
  table{

    th{
      font-size: 1vw;
      //border-bottom: 0.5px solid #333;
      padding-left: 1vw;
      padding-right: 1vw;
    }
    td{
      font-size: 0.7vw;
      padding-left: 1vw;
      padding-right: 1vw;
      #btn-acceptApplicant{
        text-decoration: none;
        border: 1px solid #4CAF50;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        background: #4CAF50;
        color: #fff;
        margin-right: 0.5vw;
      }

      #btn-rejectApplicant{
        text-decoration: none;
        border: 1px solid #d50000;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        background: #d50000;
        color: #fff;
        margin-right: 0.5vw;
      }

      #btn-viewApplicant{
        text-decoration: none;
        border: 1px solid #2196F3;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        background: #2196F3;
        color: #fff;
        margin-right: 0.5vw;
      }
    }
  }
}

.forExam{
  margin-left: 3vw;
width: 80vw;
  margin-top: 5vh;
  table{

    th{
      font-size: 1vw;
      padding-left: 1vw;
      padding-right: 1vw;
    }
    td{
      font-size: 0.7vw;
      padding-left: 1vw;
      padding-right: 1vw;
    }
  }

    .btn-viewApplicantForExam, .submitExamResult{
      background: #2196F3;
      border: 1px solid #2196F3;
      color: #fff;
      padding-left: 0.5vw;
      padding-right: 0.5vw;
      padding-top: 0.5vh;
      padding-bottom: 0.5vh;
    }
    .btn-evaluateApplicantForExam{
      background: #fff;
      border: 1px solid #4CAF50;
      color: #4CAF50;
      padding-left: 0.5vw;
      padding-right: 0.5vw;
      padding-top: 0.5vh;
      padding-bottom: 0.5vh;
    }

    .cancelExamEvaluation{
      background: #fff;
      border: 1px solid #d50000;
      color: #d50000;
      padding-left: 0.5vw;
      padding-right: 0.5vw;
      padding-top: 0.5vh;
      padding-bottom: 0.5vh;
    }
}


  .forInterview, .forQualified,.userManagement{
  margin-left: 5vw;
  width: 70vw;
  margin-top: 5vh;
  table{

    th{
      font-size: 1vw;
      padding-left: 1vw;
      padding-right: 1vw;
      text-align: left;
    }
    td{
      font-size: 0.7vw;
      padding-left: 1vw;
      padding-right: 1vw;
    }
  }
}

.forInterview{
  .btn-viewForInterviewApplicant{
    background: #2196F3;
    border: 1px solid #2196F3;
    color: #fff;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
  }
}

.userManagement{
  input{
    border: 1px solid #E0E0E0;
    width: 15vw;
    height: 3vh;
    font-size: 1vw;
    padding-left: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
  }
  select{
    border: 1px solid #E0E0E0;
    width: 15vw;
    height: 5vh;
    font-size: 1vw;
    padding-left: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
  }

  #btn-addNewUser{
    background: #4CAF50;
    border: 1px solid #4CAF50;
    color: #fff;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    width: 5vw;
  }

  .editUser, .saveUser{
    background: #2196F3;
    border: 1px solid #2196F3;
    color: #fff;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    width: 5vw;
  }
  .deleteUser, .cancelUser{
    background: #fff;
    border: 1px solid #d50000;
    color: #d50000;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    width: 5vw;
  }



}


.admin-login-container{
  color: #607D8B;
  margin-top: 5vh;
  border: 1px solid #9E9E9E;
  width: 30vw;
  height: 45vh;
  border-radius: 5px;
  h2{
    text-align: center;
    margin-bottom: 5vh;
  }

  input{
    margin-left: 1vw;
    height: 3.5vh;
    width: 27vw;
    border: 1px solid #9E9E9E;
    border-radius: 30px;
    padding-left: 1vw;
  }

  p{
    margin-left: 1vw;
  }

  #btn-admin-login{
    margin-top: 5vh;
    width: 10vw;
    height: 5vh;
    border-radius: 30px;
    background: $darkBlue;
    border: 1px solid $darkBlue;
    color: #fff;
    font-size: 1vw;
  }

  #btn-admin-signup{
    margin-top: 2vh;
    width: 10vw;
    height: 5vh;
    border-radius: 30px;
    background: #fff;
    border: 1px solid $darkBlue;
    color: $darkBlue;
    font-size: 1vw;
  }


}

.input_grades_exam{
  width: 15vw !important;
  margin-top: 1vh !important;
  margin-bottom: 1vh !important;
  padding-left: 2vw !important;
}

.interviewer-container{
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 5vh;

  .input_interview{
    width: 1.8vw;
    padding-left: 5px;
  }
}

.printable-interviewee{
  margin-top: 100vh;
}

.view-doneInterview{
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 5vh;
  .btn-viewApplicantDoneInterview{
    background: #2196F3;
    border: 1px solid #2196F3;
    color: #fff;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
  }
  .btn-getQualifiedDoneInterview{
    background: #4CAF50;
    border: 1px solid #4CAF50;
    color: #fff;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
  }
  .btn-removeDoneInterview{
    background: #fff;
    border: 1px solid #d50000;
    color: #d50000;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
  }
}

.view-qualified{
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 5vh;
}
