.header{
  background-color: $darkBlue;
  img{
    width: 120px;
    padding: 15px 15px 15px 30px;
  }

  .header-mainText{
    padding-top: 15px;
    font-family: 'Graduate', cursive;
    font-size: 4.5rem;
    font-weight: bold;
    color: $darkGold;
    -webkit-text-stroke: 0.001px $darkBlue;
    text-shadow: 1px 1px 1px $darkGold;
  }

  .header-subText{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fafafa;

   
  }

  @media screen and (max-width: 1024px){
    img{
      width: 90px;
      padding: 15px 15px 15px 30px;
    }

    .header-mainText{
     
      font-size: 3.5rem;
     
    }
  }
}
