.sidebar{
  background: #fafafa;
  height: 100vh;
  div{
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1vw;
    &:hover{
      background: #333;

      a{
        color: #fafafa;
      }
    }
  }

  a{
    color: #333;
    text-decoration: none;
  }

  .sidebar-applicant{
    background: #333;
    color: #fafafa;
    a{
      color: #fafafa;
    }
  }
}
