@import url('https://fonts.googleapis.com/css?family=Abel|Graduate&display=swap');
@import "colors";
@import "header";
@import "navbar";
@import "forms";
@import "form-1";
@import "form-2";
@import "form-3";
@import "form-4";
@import "webTitle";
@import "sidebar";
@import "adminDisplay";
@import "adminSetApplicationPeriod";
body{
  margin: 0 !important;
  padding: 0px !important;
  font-family: 'Abel', sans-serif;
  overflow: auto;
  // background-image: url("../../../img/logo-background.png");
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center center;
}

.flex-row{
  display: flex;
  flex-wrap: wrap;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.right{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.form-container{
  margin-left: 200px;
}

.form-input{
  border: 1px solid #B0BEC5;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  height: 35px;
}

.form-input-tbl{
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
  width: 260px;
  height: 35px;
}

.form_application{
  display: none;
}

.lnu-keyword{
  margin-top: 1vw;
  margin-left: 5vw;
  margin-right: 5vw;
  color: $darkBlue;
  font-size: 1.5vw;
}

.vision,
.mission , .coe,.cas{
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 2vw;
  // border: 1px solid #ECEFF1;
  padding: 10px;
  width: 20vw;
  border-radius: 8px;
  p{
    text-align: center;
    font-size: 1vw;
  }
}

.img-carousel{
  width: 50vw;
  height: 65vh;
  margin-top: 1vw;
}

.carousel-arrow{
  margin-top: 1vw;
  margin-left: -2vw;
}

#mission{
  display: none;
}

.cme{
  p{
    font-size: 1vw;
  }
}

.btn-form{
  margin-right: 1vw;
  border: 1px solid $darkBlue;
  background: $darkBlue;
  width: 5vw;
  height: 3vh;
  color: #fff;
  border-radius: 30px;
}

.btn-container{
  margin-right: 5vw;
}

.backdrop{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal-container{
  display: none;
  position: absolute;
  top: 20vh;
  left: 35vw;
  border: 1px solid #fff;
  background: #fff;
  width: 30vw;
  height: 30vh;
  padding-top: 0;
  padding-bottom: 1vw;
  padding-left: 0;
  padding-right: 0;

  .modal-title{
    background: $darkGold;
  }

  .modal-body{
    padding-left: 1vw;
    padding-right: 1vw;
  }
}

#btn-modal{
  width: 10vw;
  height: 4vh;
  background: $darkBlue;
  color: #fff;
  padding: 0.5vw;
  border: 1px solid $darkBlue;
}

.buttonPrint{
  display: none;
  padding: 2vw;
}

#print{
  width: 5vw;
  height: 5vh;
  padding: 0.5vw;
  border-radius: 10px;
  border: 1px solid #333;
}

.printable-form-container{
  display: none;
  margin-left: 10%;
  margin-right: 10%;
  padding: 2vw;

  .user-avatar{
    width: 8vw;
    margin-left: 15vw;
    margin-top: 7vh;
    border: 1px solid #333;
    padding: 1vw;
  }

  .lnu-logo{
    width: 8vw;
    margin-right: 10vw;
  }

  .printable-content{
    margin-left: 5px;
  }

  table{
    width: 50vw;
    th{
      text-align: left;
      padding: 0.5vw;
      border: 1px solid #333;
    }
    td{
      padding: 0.5vw;
      border-bottom: 1px solid #333;
      border-left: 1px solid #333;
      border-right: 1px solid #333;
    }
  }

  .applicant-signature, .date-accomplish{
    display: none;

  }

  .guidance-remarks{
    display: none;
  }

  .personalStatement{
    display: none;
  }

  .coursePreferenceContainer{
    display: none;
  }

  @media print {
    margin-left: 0px;
    margin-right: 0px;

    .lnu-logo{
      width: 110px;
      margin-right: 100px;
    }

    .user-avatar{
      width: 130px;
      margin-left: 90px;
      margin-top: 50px;
      border: 1px solid #333;
      padding: 1vw;
    }

    table{
      width: 100vw;
      th{
        text-align: left;
        padding: 0.5vw;
      }
      td{
        padding: 0.5vw;
      }
    }

    #character-reference{
      margin-top: 5px;
    }

    .applicant-signature, .date-accomplish{
      display: block;
      text-align: center;
      margin-top: 100px;
      margin-left: 150px;
      margin-right: 150px;
    }

    .guidance-remarks{
      display: block;
      border: 1px solid #333;
      padding: 10px;
      width: 200px;
      height: 50px;
      margin-top: 100px;
    }

    .personalStatement{
      display: block;
      margin-top: 350px;
    }

    .coursePreferenceContainer{
      display: block;
      margin-top: 50px;
    }


    .course-preference{
      margin-left: 100px;
      margin-right: 100px;
    }
  }
}

.printable-form-container-admin{
  display: none;
  margin-left: 15%;
  margin-right: 10%;
  padding: 2vw;
  margin-top: -100vh;

  .user-avatar-adminside{
    width: 8vw;
    margin-left: 15vw;
    margin-top: 7vh;
    border: 1px solid #333;
    padding: 1vw;
  }

  .lnu-logo-adminside{
    width: 8vw;
    margin-right: 10vw;
  }

  .printable-content-adminside{
    margin-left: 5px;
  }

  table{
    width: 50vw;
    th{
      text-align: left;
      padding: 0.5vw;
      border: 1px solid #333;
    }
    td{
      padding: 0.5vw;
      border-bottom: 1px solid #333;
      border-left: 1px solid #333;
      border-right: 1px solid #333;
    }
  }

  .applicant-signature-adminside, .date-accomplish-adminside{
    display: none;

  }

  .guidance-remarks-adminside{
    display: none;
  }

  .personalStatement-adminside{
    display: none;
  }

  .coursePreferenceContainer-adminside{
    display: none;
  }

  @media print {
    margin-left: 0px;
    margin-right: 0px;

    .lnu-logo-adminside{
      width: 110px;
      margin-right: 100px;
    }

    .user-avatar-adminside{
      width: 130px;
      margin-left: 90px;
      margin-top: 50px;
      border: 1px solid #333;
      padding: 1vw;
    }

    table{
      width: 100vw;
      th{
        text-align: left;
        padding: 0.5vw;
      }
      td{
        padding: 0.5vw;
      }
    }

    #character-reference-adminside{
      margin-top: 5px;
    }

    .applicant-signature-adminside, .date-accomplish-adminside{
      display: block;
      text-align: center;
      margin-top: 100px;
      margin-left: 150px;
      margin-right: 150px;
    }

    .guidance-remarks-adminside{
      display: block;
      border: 1px solid #333;
      padding: 10px;
      width: 200px;
      height: 50px;
      margin-top: 100px;
    }

    .personalStatement-adminside{
      display: block;
      margin-top: 350px;
    }

    .coursePreferenceContainer-adminside{
      display: block;
      margin-top: 50px;
    }


    .course-preference-adminside{
      margin-left: 100px;
      margin-right: 100px;
    }
  }
}

.file_upload{
  margin-top: 2vh;
}
