@import url("https://fonts.googleapis.com/css?family=Abel|Graduate&display=swap");
.header {
  background-color: #012450; }
  .header img {
    width: 120px;
    padding: 15px 15px 15px 30px; }
  .header .header-mainText {
    padding-top: 15px;
    font-family: 'Graduate', cursive;
    font-size: 4.5rem;
    font-weight: bold;
    color: #D4A83B;
    -webkit-text-stroke: 0.001px #012450;
    text-shadow: 1px 1px 1px #D4A83B; }
  .header .header-subText {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fafafa; }

.nav-bar {
  background-color: #012450;
  padding: 10px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .nav-bar div {
    margin-right: 10px;
    border-right: 1px solid #D4A83B; }
  .nav-bar a {
    text-decoration: none;
    color: #D4A83B;
    padding: 8px;
    -webkit-transition: 0.5s background-color;
    -o-transition: 0.5s background-color;
    transition: 0.5s background-color; }
    .nav-bar a:hover {
      background-color: #D4A83B;
      color: #012450; }

.forms-options {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px; }
  .forms-options div {
    margin-left: 3px;
    margin-right: 3px;
    padding: 8px; }
  .forms-options a {
    text-decoration: none;
    color: #012450; }
  .forms-options .border-line {
    border-bottom: 1px solid #012450;
    width: 50px; }
  .forms-options .step-1, .forms-options .step-2, .forms-options .step-3, .forms-options .step-4 {
    background-color: #ECEFF1;
    padding: 1px 7px;
    border-radius: 100px; }
  .forms-options .step-1-circle, .forms-options .step-2-circle, .forms-options .step-3-circle {
    border: 1px solid #012450;
    border-radius: 100px;
    margin-top: 5px; }
  .forms-options .step-1, .forms-options #step-1-text {
    font-weight: bold; }

.form-1 {
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-box-shadow: 1px 1px 1px #fafafa;
  box-shadow: 1px 1px 1px #fafafa;
  border: 1px solid #fafafa;
  font-size: 1.2rem; }
  .form-1 .form-1-title {
    background-color: #012450;
    width: 300px;
    border-bottom-right-radius: 30px; }
    .form-1 .form-1-title h2 {
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: #fafafa; }
  .form-1 .check-box {
    cursor: pointer;
    width: 30px;
    height: 20px; }
  .form-1 h3 {
    margin-top: 1px;
    margin-right: 30px;
    margin-left: 10px; }
  .form-1 .yes-no {
    width: 15px;
    height: 15px; }
  .form-1 #returnee {
    display: none; }

.form-2 {
  display: none;
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-box-shadow: 1px 1px 1px #fafafa;
  box-shadow: 1px 1px 1px #fafafa;
  border: 1px solid #fafafa;
  font-size: 1.2rem; }
  .form-2 .form-2-title {
    background-color: #012450;
    width: 300px;
    border-bottom-right-radius: 30px; }
    .form-2 .form-2-title h2 {
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: #fafafa; }

.form-3 {
  display: none;
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-box-shadow: 1px 1px 1px #fafafa;
  box-shadow: 1px 1px 1px #fafafa;
  border: 1px solid #fafafa;
  font-size: 1.2rem; }
  .form-3 .form-3-title {
    background-color: #012450;
    width: 300px;
    border-bottom-right-radius: 30px; }
    .form-3 .form-3-title h2 {
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: #fafafa; }
  .form-3 table {
    border: 1px solid #CFD8DC; }
    .form-3 table th {
      border-bottom: 1px solid #CFD8DC;
      border-right: 1px solid #CFD8DC;
      padding: 5px; }
    .form-3 table td {
      border-bottom: 1px solid #CFD8DC;
      border-right: 1px solid #CFD8DC; }

.form-4 {
  display: none;
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-box-shadow: 1px 1px 1px #fafafa;
  box-shadow: 1px 1px 1px #fafafa;
  border: 1px solid #fafafa;
  font-size: 1.2rem; }
  .form-4 .form-4-title {
    background-color: #012450;
    width: 300px;
    border-bottom-right-radius: 30px; }
    .form-4 .form-4-title h2 {
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: #fafafa; }
  .form-4 table {
    border: 1px solid #CFD8DC; }
    .form-4 table th {
      border-bottom: 1px solid #CFD8DC;
      border-right: 1px solid #CFD8DC;
      padding: 5px; }
    .form-4 table td {
      border-bottom: 1px solid #CFD8DC;
      border-right: 1px solid #CFD8DC; }

.web-title {
  background-color: #FFCC00;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.5rem;
  color: #012450; }

.sidebar {
  background: #fafafa;
  height: 100vh; }
  .sidebar div {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1vw; }
    .sidebar div:hover {
      background: #333; }
      .sidebar div:hover a {
        color: #fafafa; }
  .sidebar a {
    color: #333;
    text-decoration: none; }
  .sidebar .sidebar-applicant {
    background: #333;
    color: #fafafa; }
    .sidebar .sidebar-applicant a {
      color: #fafafa; }

.applicant {
  margin-left: 3vw;
  margin-top: 5vh;
  width: 80vw; }
  .applicant table th {
    font-size: 1vw;
    padding-left: 1vw;
    padding-right: 1vw; }
  .applicant table td {
    font-size: 0.7vw;
    padding-left: 1vw;
    padding-right: 1vw; }
    .applicant table td #btn-acceptApplicant {
      text-decoration: none;
      border: 1px solid #4CAF50;
      padding-left: 0.5vw;
      padding-right: 0.5vw;
      background: #4CAF50;
      color: #fff;
      margin-right: 0.5vw; }
    .applicant table td #btn-rejectApplicant {
      text-decoration: none;
      border: 1px solid #d50000;
      padding-left: 0.5vw;
      padding-right: 0.5vw;
      background: #d50000;
      color: #fff;
      margin-right: 0.5vw; }
    .applicant table td #btn-viewApplicant {
      text-decoration: none;
      border: 1px solid #2196F3;
      padding-left: 0.5vw;
      padding-right: 0.5vw;
      background: #2196F3;
      color: #fff;
      margin-right: 0.5vw; }

.forExam {
  margin-left: 3vw;
  width: 80vw;
  margin-top: 5vh; }
  .forExam table th {
    font-size: 1vw;
    padding-left: 1vw;
    padding-right: 1vw; }
  .forExam table td {
    font-size: 0.7vw;
    padding-left: 1vw;
    padding-right: 1vw; }
  .forExam .btn-viewApplicantForExam, .forExam .submitExamResult {
    background: #2196F3;
    border: 1px solid #2196F3;
    color: #fff;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh; }
  .forExam .btn-evaluateApplicantForExam {
    background: #fff;
    border: 1px solid #4CAF50;
    color: #4CAF50;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh; }
  .forExam .cancelExamEvaluation {
    background: #fff;
    border: 1px solid #d50000;
    color: #d50000;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh; }

.forInterview, .forQualified, .userManagement {
  margin-left: 5vw;
  width: 70vw;
  margin-top: 5vh; }
  .forInterview table th, .forQualified table th, .userManagement table th {
    font-size: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: left; }
  .forInterview table td, .forQualified table td, .userManagement table td {
    font-size: 0.7vw;
    padding-left: 1vw;
    padding-right: 1vw; }

.forInterview .btn-viewForInterviewApplicant {
  background: #2196F3;
  border: 1px solid #2196F3;
  color: #fff;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh; }

.userManagement input {
  border: 1px solid #E0E0E0;
  width: 15vw;
  height: 2vh;
  font-size: 1vw;
  padding-left: 1vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh; }

.userManagement select {
  border: 1px solid #E0E0E0;
  width: 15vw;
  height: 3vh;
  font-size: 1vw;
  padding-left: 1vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh; }

.userManagement #btn-addNewUser {
  background: #4CAF50;
  border: 1px solid #4CAF50;
  color: #fff;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh; }

.userManagement .editUser, .userManagement .saveUser {
  background: #2196F3;
  border: 1px solid #2196F3;
  color: #fff;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh; }

.userManagement .deleteUser, .userManagement .cancelUser {
  background: #fff;
  border: 1px solid #d50000;
  color: #d50000;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh; }

.admin-login-container {
  color: #607D8B;
  margin-top: 5vh;
  border: 1px solid #9E9E9E;
  width: 30vw;
  height: 45vh;
  border-radius: 5px; }
  .admin-login-container h2 {
    text-align: center;
    margin-bottom: 5vh; }
  .admin-login-container input {
    margin-left: 1vw;
    height: 3.5vh;
    width: 27vw;
    border: 1px solid #9E9E9E;
    border-radius: 30px;
    padding-left: 1vw; }
  .admin-login-container p {
    margin-left: 1vw; }
  .admin-login-container #btn-admin-login {
    margin-top: 5vh;
    width: 10vw;
    height: 5vh;
    border-radius: 30px;
    background: #012450;
    border: 1px solid #012450;
    color: #fff;
    font-size: 1vw; }
  .admin-login-container #btn-admin-signup {
    margin-top: 2vh;
    width: 10vw;
    height: 5vh;
    border-radius: 30px;
    background: #fff;
    border: 1px solid #012450;
    color: #012450;
    font-size: 1vw; }

.input_grades_exam {
  width: 1.8vw;
  padding-left: 5px; }

.interviewer-container {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 5vh; }
  .interviewer-container .input_interview {
    width: 1.8vw;
    padding-left: 5px; }

.printable-interviewee {
  margin-top: 100vh; }

.view-doneInterview {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 5vh; }
  .view-doneInterview .btn-viewApplicantDoneInterview {
    background: #2196F3;
    border: 1px solid #2196F3;
    color: #fff;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh; }
  .view-doneInterview .btn-getQualifiedDoneInterview {
    background: #4CAF50;
    border: 1px solid #4CAF50;
    color: #fff;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh; }
  .view-doneInterview .btn-removeDoneInterview {
    background: #fff;
    border: 1px solid #d50000;
    color: #d50000;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh; }

.view-qualified {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 5vh; }

.schedule-container {
  border: 1px solid #CFD8DC;
  margin-left: 18vw;
  width: 40vw;
  color: #607D8B;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 5vh;
  -webkit-box-shadow: 1px 1px 1px #CFD8DC;
  box-shadow: 1px 1px 1px #CFD8DC; }
  .schedule-container h1 {
    text-align: center; }
  .schedule-container input {
    margin-top: 1vh;
    margin-bottom: 2vh;
    border: 1px solid #9E9E9E;
    width: 12vw;
    height: 3vh;
    border-radius: 30px;
    padding-left: 1.5vw; }
  .schedule-container select {
    height: 3vh;
    width: 13vw; }
  .schedule-container button {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 10vw;
    height: 4vh;
    border-radius: 30px;
    border: 1px solid #012450;
    background: #012450;
    color: #fff;
    font-size: 1vw; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif; }

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.form-container {
  margin-left: 200px; }

.form-input {
  border: 1px solid #B0BEC5;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  height: 35px; }

.form-input-tbl {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
  width: 260px;
  height: 35px; }

.form_application {
  display: none; }

.lnu-keyword {
  margin-top: 1vw;
  margin-left: 5vw;
  margin-right: 5vw;
  color: #012450;
  font-size: 1.5vw; }

.vision,
.mission, .coe, .cas {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 2vw;
  padding: 10px;
  width: 20vw;
  border-radius: 8px; }
  .vision p,
  .mission p, .coe p, .cas p {
    text-align: center;
    font-size: 1vw; }

.img-carousel {
  width: 50vw;
  height: 65vh;
  margin-top: 1vw; }

.carousel-arrow {
  margin-top: 1vw;
  margin-left: -2vw; }

#mission {
  display: none; }

.cme p {
  font-size: 1vw; }

.btn-form {
  margin-right: 1vw;
  border: 1px solid #012450;
  background: #012450;
  width: 5vw;
  height: 3vh;
  color: #fff;
  border-radius: 30px; }

.btn-container {
  margin-right: 5vw; }

.backdrop {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); }

.modal-container {
  display: none;
  position: absolute;
  top: 10%;
  left: 40%;
  border: 1px solid #fff;
  background: #fff;
  width: 20vw;
  height: 25vh;
  padding-top: 0;
  padding-bottom: 1vw;
  padding-left: 0;
  padding-right: 0; }
  .modal-container .modal-title {
    background: #D4A83B; }
  .modal-container .modal-body {
    padding-left: 1vw;
    padding-right: 1vw; }

#btn-modal {
  width: 5vw;
  height: 4vh;
  background: #012450;
  color: #fff;
  padding: 0.5vw;
  border: 1px solid #012450; }

.buttonPrint {
  display: none;
  padding: 2vw; }

#print {
  width: 5vw;
  height: 5vh;
  padding: 0.5vw;
  border-radius: 10px;
  border: 1px solid #333; }

.printable-form-container {
  display: none;
  margin-left: 10%;
  margin-right: 10%;
  padding: 2vw; }
  .printable-form-container .user-avatar {
    width: 8vw;
    margin-left: 15vw;
    margin-top: 7vh;
    border: 1px solid #333;
    padding: 1vw; }
  .printable-form-container .lnu-logo {
    width: 8vw;
    margin-right: 10vw; }
  .printable-form-container .printable-content {
    margin-left: 5px; }
  .printable-form-container table {
    width: 50vw; }
    .printable-form-container table th {
      text-align: left;
      padding: 0.5vw;
      border: 1px solid #333; }
    .printable-form-container table td {
      padding: 0.5vw;
      border-bottom: 1px solid #333;
      border-left: 1px solid #333;
      border-right: 1px solid #333; }
  .printable-form-container .applicant-signature, .printable-form-container .date-accomplish {
    display: none; }
  .printable-form-container .guidance-remarks {
    display: none; }
  .printable-form-container .personalStatement {
    display: none; }
  .printable-form-container .coursePreferenceContainer {
    display: none; }
  @media print {
    .printable-form-container {
      margin-left: 0px;
      margin-right: 0px; }
      .printable-form-container .lnu-logo {
        width: 110px;
        margin-right: 100px; }
      .printable-form-container .user-avatar {
        width: 130px;
        margin-left: 90px;
        margin-top: 50px;
        border: 1px solid #333;
        padding: 1vw; }
      .printable-form-container table {
        width: 100vw; }
        .printable-form-container table th {
          text-align: left;
          padding: 0.5vw; }
        .printable-form-container table td {
          padding: 0.5vw; }
      .printable-form-container #character-reference {
        margin-top: 5px; }
      .printable-form-container .applicant-signature, .printable-form-container .date-accomplish {
        display: block;
        text-align: center;
        margin-top: 100px;
        margin-left: 150px;
        margin-right: 150px; }
      .printable-form-container .guidance-remarks {
        display: block;
        border: 1px solid #333;
        padding: 10px;
        width: 200px;
        height: 50px;
        margin-top: 100px; }
      .printable-form-container .personalStatement {
        display: block;
        margin-top: 350px; }
      .printable-form-container .coursePreferenceContainer {
        display: block;
        margin-top: 50px; }
      .printable-form-container .course-preference {
        margin-left: 100px;
        margin-right: 100px; } }

.printable-form-container-admin {
  display: none;
  margin-left: 15%;
  margin-right: 10%;
  padding: 2vw;
  margin-top: -100vh; }
  .printable-form-container-admin .user-avatar-adminside {
    width: 8vw;
    margin-left: 15vw;
    margin-top: 7vh;
    border: 1px solid #333;
    padding: 1vw; }
  .printable-form-container-admin .lnu-logo-adminside {
    width: 8vw;
    margin-right: 10vw; }
  .printable-form-container-admin .printable-content-adminside {
    margin-left: 5px; }
  .printable-form-container-admin table {
    width: 50vw; }
    .printable-form-container-admin table th {
      text-align: left;
      padding: 0.5vw;
      border: 1px solid #333; }
    .printable-form-container-admin table td {
      padding: 0.5vw;
      border-bottom: 1px solid #333;
      border-left: 1px solid #333;
      border-right: 1px solid #333; }
  .printable-form-container-admin .applicant-signature-adminside, .printable-form-container-admin .date-accomplish-adminside {
    display: none; }
  .printable-form-container-admin .guidance-remarks-adminside {
    display: none; }
  .printable-form-container-admin .personalStatement-adminside {
    display: none; }
  .printable-form-container-admin .coursePreferenceContainer-adminside {
    display: none; }
  @media print {
    .printable-form-container-admin {
      margin-left: 0px;
      margin-right: 0px; }
      .printable-form-container-admin .lnu-logo-adminside {
        width: 110px;
        margin-right: 100px; }
      .printable-form-container-admin .user-avatar-adminside {
        width: 130px;
        margin-left: 90px;
        margin-top: 50px;
        border: 1px solid #333;
        padding: 1vw; }
      .printable-form-container-admin table {
        width: 100vw; }
        .printable-form-container-admin table th {
          text-align: left;
          padding: 0.5vw; }
        .printable-form-container-admin table td {
          padding: 0.5vw; }
      .printable-form-container-admin #character-reference-adminside {
        margin-top: 5px; }
      .printable-form-container-admin .applicant-signature-adminside, .printable-form-container-admin .date-accomplish-adminside {
        display: block;
        text-align: center;
        margin-top: 100px;
        margin-left: 150px;
        margin-right: 150px; }
      .printable-form-container-admin .guidance-remarks-adminside {
        display: block;
        border: 1px solid #333;
        padding: 10px;
        width: 200px;
        height: 50px;
        margin-top: 100px; }
      .printable-form-container-admin .personalStatement-adminside {
        display: block;
        margin-top: 350px; }
      .printable-form-container-admin .coursePreferenceContainer-adminside {
        display: block;
        margin-top: 50px; }
      .printable-form-container-admin .course-preference-adminside {
        margin-left: 100px;
        margin-right: 100px; } }

.file_upload {
  margin-top: 2vh; }

/*# sourceMappingURL=styles.css.map */